QToolTip {
  color: #ffffff;
  background-color: #724ed4;
  border: none;
  padding: 4px 5px;
}

InstanceView
{   
    border: none;
    background-color:palette(base);
}

QToolBar{
    background-color: palette(window);
    border: none;
}

MainWindow
{
    background-color: palette(window);
    border: none;
}

InstanceToolbar{
    border: none;
}
