QToolTip {
  color: #ffffff;
  background-color: #724ed4;
  border: none;
  border-radius: 0;
  padding: 4px 5px;
}
/*old_base  2D2A2E */
InstanceView
{   
    border: 0;
    /* background-image: url(theme:bg.png); */
    /* background-attachment: local;
    background-size: cover;
    background-clip: border-box;
    background-position: center center;
    background-repeat: repeat; */
    background-color:palette(base);
}

QToolBar{
    background-color: palette(window);
    border: none;
}

MainWindow
{
    background-color: palette(window);
    border: none;
}

InstanceToolbar{
    border: none;
}
